<div class="container">
    <div class="page-title">video feed</div>

    <div class="filters-container">
        <app-filter [filter]="filter" (filterChanged)="onFilterChanged($event)" *ngFor="let filter of filters"></app-filter>
    </div>

    <div class="videos-container" *ngIf="videos && sources">
        <app-video [video]="video" [sources]="sources" [hidden]="isFiltered(video)" *ngFor="let video of videos"></app-video>
    </div>
</div>