.container {
  background-color: #eee;
  padding: 50px 20px;
  min-height: 100vh;
  font-size: 0;

  .page-title {
    text-transform: uppercase;
    color: #aaa;
    height: 40px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    line-height: 40px;
    margin: 0 auto 20px;
  }

  .videos-container {
    width: calc(100% - 150px);
    display: inline-block;
    vertical-align: top;
    padding-right: 150px;
  }

  .filters-container {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    font-size : 14px;
    padding: 40px 0 40px 20px;
  }
}
