<div class="video" >
    <div class="header">
        <div class="title">{{video.title}}</div>
        <div class="title right">{{video.views | numberFormat}} views</div>
    </div>
    <div class="content" [innerHTML]="video.template"></div>
</div>