
.video{
  max-width : 560px;
  max-height : 355px;
  margin: 20px auto;
  overflow: hidden;

  .header{
    height: 40px;
    font-size: 0;
    background-color: #fff;
    line-height: 40px;
    padding: 0px 15px;

    .title{
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      width : 50%;
      color: #777;

      &.right{
        text-align: right;
      }
    }
  }

  video{
    width : 100%;
  }
}